@page
@model FLexElectronicsShop.Pages.DigitalProducts.AddModel
@{
    ViewData["Title"] = "Добавить продукт";
}

<form method="post">
    <div>
        <label>Название продукта</label>
        <input asp-for="product.Name" type="text" style="width: 400px" />
        <span asp-validation-for="product.Name" class="text-danger"></span>
    </div>
    <div>
        <label>Ссылка на фото</label>
        <input asp-for="product.URL" type="text" />
        <span asp-validation-for="product.URL" class="text-danger"></span>
    </div>
    <div>
        <label>Стоимость продукта</label>
        <input asp-for="product.Price" type="text" />
        <span asp-validation-for="product.Price" class="text-danger"></span>
    </div>
    <label>Описание продукта</label>
    <input asp-for="product.Description" type="text" style="width: 400px" />
    <span asp-validation-for="product.Description" class="text-danger"></span>
    <input type="submit" />
</form>
