@page
@model FLexElectronicsShop.Pages.DigitalProducts.IndexModel
@{
    ViewData["Title"] = "Каталог продуктов";
}

<div class="container-fluid" style="padding-top: 35px">
    <form method="get">
        <div class="form-group">
            <label for="categoryFilter">Категории товаров:</label>
            <select id="categoryFilter" asp-for="SelectedCategoryId" asp-items="Model.Categories" class="form-control" onchange="this.form.submit()">
                <option value="">Все категории</option>
            </select>
        </div>
    </form>
    <div class="row row-cols-4">
        @foreach (var product in Model.Products)
        {
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="@product.URL" class="card-img-top" alt="@product.Name">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title flex-grow-1">@product.Name</h5>
                        <div class="mt-auto">
                            <a asp-page="/DigitalProducts/Details" asp-route-id="@product.Id" class="btn btn-primary">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
