@page
@model FLexElectronicsShop.Pages.UserAccount.LogoutModel
@{
}

<h1>Вы действительно хотите выйти из системы?</h1>
<form method="post">
    <button type="submit" class="btn-outline-danger">Выйти</button>
</form>